# Environment variables
.env
**/.env

# Node modules
node_modules/
**/node_modules/

# Logs
*.log
npm-debug.log*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large video files
assets/images/videos/